
.Heading{
    text-align: center;
    font-size: 42px;
    color: rgb(7, 7, 7);
}
.cardContainer{
    width: 95%;
    margin: 4rem auto;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* justify-content: center;
    align-items: center; */
    gap: 1rem;
   
}