


.singleCardDiv{
    
   width: 340px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 14px;
    
    /* border: 1px solid black; */
}
.singleCardDiv>img{
  width: 100%;
  padding: 0.3rem;
}
.sale{
    position: absolute;
    top: 60%;
    left: 5%;
    padding: 0.1rem 0.8rem;
    color: #fff;
background-color: rgb(209,111,59);
}
.itemName{
    font-size: 20px;
   margin: 0.2rem 0.8rem;
   /* font-family: "nunito",sans-serif; */
   font-weight: 400;
}
.itemPrice{
    padding-left: 0.5rem;
    font-size: 22px;
    font-weight: 500;
}
.itemReview{
    margin-top: -1rem;
    padding-left: 0.5rem;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.reviewcount{
    font-size: 18px;
    font-weight: 200;
    padding-left:0.5rem;
}
.hiddenAndShowIcon{
    position: absolute;
    left: 85%;
}
.hiddenAndShowIcon>p{
    background-color:rgb(1,140,58);
    padding: 0.5rem 0.8rem;
    border-radius: 60%;
    border: none;
    font-size: 22px;
    color: #fff;

    cursor: pointer;
}
.hiddenAndShowIcon>p:hover{
   
    transition: all 0.3s ease-in-out;
}
.priceContainer{
    display: flex;
    /* align-items: center; */
}
.itemPrice+del{
    padding-left: 0.5rem;
    padding-top: 0.2rem;
    font-size: 14px;
}
.itemPrice+del+p{
    padding: 0.2rem 0 0 0.5rem;
    font-size: 16px;
    color: rgb(209,111,59);
}