.container {
 
  width: 95%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
   
    gap: 20px;
    padding: 20px;
    scroll-behavior: smooth;
  }
  .container > div:first-child{
    width: 55%;
  
  }
 
  .image {
    max-width: 100%;
    height: auto;
    border: 2px solid #550dc8;
    border-radius: 4px;
    /* padding: 5px; */
  }
  
  .smallImage{
    width: 90%;
    margin: 10px ;
    /* height: 20px; */
    display: grid;
    grid-template-columns: repeat(7,1fr);
    border: 1px solid black;
    gap: 5px;
  }
  
  .smallImage>div+img{
    width: 120%;
    height: auto;
  }
  .details {
    max-width: 40%;
    margin-left: 2px;
    /* max-width: 600px; */
  }
 .heading{
  font-size: 26px;
  margin-top: 15px;
  font-weight: 500;
 }
  .box{
    display: flex;
    flex-wrap: wrap;
}
.box p{
    font-size: 16px;
    cursor:pointer;
    border: 2px solid rgb(27, 26, 26);
    padding: 10px;
    margin: 10px !important;

  }
  
 
  
  .delPrice {
    color: red;
  }
  
  .price {
    font-size: 1.5em;
    font-weight: bold;
    color: #000;
  }
  
  .discount {
    color: green;
    font-weight: bold;
  }
  .quantitySelector {
    display: inline-flex;
    border: 2px solid rgb(189, 189, 183);
  }
  
  .inputContainer { 
    width: 150px;
    display: flex;
    align-items: center;
    height: 30px;
    justify-content: space-between;
    border: 1px solid #ddd;
  }
  
  .input {
   font-size: 20px;
  margin-top: 0.8rem;   
  }
  
  .incrementButton,
  .decrementButton {
   padding-top: 0.6rem;
    font-size: 26px;
    cursor: pointer;
  }
  



  .securePayment,
  .taxIncluded {
    font-size: 0.9em;
    color: #555;
  }
  
  .addToCart {
    width: 95%;
 font-size: 24px;
    margin: 0.8rem 0;
    color: rgb(12, 12, 12);
    padding: 12px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid rgb(11, 11, 11);
   
  }
  
  .addToCart:hover {
    background-color: #218838;
  }
  
  .reviews {
    margin-top: 20px;
  }
  
  .reviews h2 {
    margin-bottom: 10px;
  }
  
  .review {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .review p {
    margin: 0;
    margin-right: 10px;
  }
  
  .review span {
    font-weight: bold;
  }
  
  .star {
    color: gold;
    margin-right: 5px;
  }
  
  .halfStar {
    color: gold;
  }
  
  .emptyStar {
    color: #ddd;
  }
  .Accordions{
      width: 30%;
      margin: 0 auto;
      /* align-items: center !important; */
      border: 2px solid grey ;
      border-radius: 5px;
    }
    .description{
      font-size: 20px;
  }
  .linksContainer{
    width: 100%;
    align-items: center;
    text-align: center;
    margin: 2rem 0;
   
  }
  .links{
    display: inline-flex;
    justify-content: center;
    align-items: center;
   
  }
  .links a{
    cursor: pointer;
    color: black;
    padding: 0 20px;
    /* margin: 10px; */
   text-decoration: none;
  }
  .icons{
    font-size: large;
  }