.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
  }
  
  .image {
    max-width: 700px;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
  }
  
  .details {
    margin-left: 50px;
    max-width: 600px;
  }
  .heading{
    font-size: 30px;
    
  }
  .box{
    display: flex;
}
.box p{
    font-size: 14px;
    cursor:pointer;
    border: 2px solid rgb(27, 26, 26);
    padding: 10px;
    margin: 10px !important;

  }
  
  .details p {
    margin: 10px 0;
  }
  
  .delPrice {
    color: red;
  }
  
  .price {
    font-size: 1.5em;
    font-weight: bold;
    color: #000;
  }
  
  .discount {
    color: green;
    font-weight: bold;
  }
  .quantitySelector {
    display: flex;
  
  }
  
  .inputContainer {
    display: flex;
    align-items: center;
    /* border: 1px solid #ddd; */
    border-radius: 5px;
    overflow: hidden;
  }
  
  .input {
    width: 20px;
    text-align: center;
    border: none;
    font-size: 16px;
    height: 30px;
  }
  
  .incrementButton,
  .decrementButton {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .incrementButton:hover,
  .decrementButton:hover {
    background-color: #218838;
  }


  .securePayment,
  .taxIncluded {
    font-size: 0.9em;
    color: #555;
  }
  
  .addToCart {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .addToCart:hover {
    background-color: #218838;
  }
  
  .reviews {
    margin-top: 20px;
  }
  
  .reviews h2 {
    margin-bottom: 10px;
  }
  
  .review {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .review p {
    margin: 0;
    margin-right: 10px;
  }
  
  .review span {
    font-weight: bold;
  }
  
  .star {
    color: gold;
    margin-right: 5px;
  }
  
  .halfStar {
    color: gold;
  }
  
  .emptyStar {
    color: #ddd;
  }
  .Accordion{
      margin-top: 20px;
      width: 600px;
      margin-left: 500px;
      margin-bottom: 30px;
      /* align-items: center !important; */
      border: 1px solid grey ;
      border-radius: 10px;
    }
    .description{
      font-size: 20px;
  }
  .links{
    display: flex;
    margin-left: 700px;
  }
  .links a{
    cursor: pointer;
    color: black;
    margin: 10px;
   text-decoration: none;
  }
  .DCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* gap: 10px;  */
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9; 
    padding: 10px;
    /* border: 1px solid #ddd; */
    border-radius: 5px;
    cursor:pointer;
  }
  
  .Dimage {
    max-width: 80%;
    height: auto;
  }
  